<h1>Listing food_donation_lines</h1>

<table>
  <tr>
    <th>Food donation</th>
    <th>Product</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @food_donation_lines.each do |food_donation_line| %>
  <tr>
    <td><%= food_donation_line.food_donation %></td>
    <td><%= food_donation_line.product %></td>
    <td><%= food_donation_line.quantity %></td>
    <td><%= link_to 'Show', food_donation_line %></td>
    <td><%= link_to 'Edit', edit_food_donation_line_path(food_donation_line) %></td>
    <td><%= link_to 'Destroy', food_donation_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Food donation line', new_food_donation_line_path %>
