<p id="notice"><%= notice %></p>

<p>
  <b>Food donation:</b>
  <%= @food_donation_line.food_donation %>
</p>

<p>
  <b>Product:</b>
  <%= @food_donation_line.product %>
</p>

<p>
  <b>Quantity:</b>
  <%= @food_donation_line.quantity %>
</p>


<%= link_to 'Edit', edit_food_donation_line_path(@food_donation_line) %> |
<%= link_to 'Back', food_donation_lines_path %>
