<%
if food_parcel_line.new_record?
  prefix = 'new_'
%>
<tr id="<%= "#{prefix}food_parcel_line_#{index}" %>">
<%= fields_for "#{prefix}food_parcel_lines[#{index}]", food_parcel_line do |line_form| %>
  <td>
    <%= line_form.hidden_field :product_id %>
    <input class="product_code_typeahead" name="<%= "product_code_#{index}" %>" data-provide="typeahead" id="<%= "product_code_#{index}" %>" size="20" type="text" value="<%= food_parcel_line.product.nil? ? params["product_code_#{index}"] : food_parcel_line.product.code %>"/>
  </td>
  <td><input class="product_name_typeahead" name="<%= "product_name_#{index}" %>" data-provide="typeahead" id="<%= "product_name_#{index}" %>" size="20" type="text" value="<%= food_parcel_line.product.nil? ? params["product_name_#{index}"] : food_parcel_line.product.name %>"/></td>
  <td><%= line_form.text_field :quantity, :size => 10 %></td>
  <% if !food_parcel_line.new_record? %>
    <td><%= link_to('Delete', [@food_parcel, food_parcel_line], :confirm => 'Are you sure?', :method => "delete", :format => "json", :remote => true, :disable_with => 'loading...', :class => "btn btn-danger row-delete") %></td>
  <% else %>
    <td><%= link_to_function "Delete", "remove_row(this)", :class => "btn btn-danger" %></td>
  <% end %>
<% end %>
</tr>
<%  
else
  prefix = ''
%>
<tr id="<%= "#{prefix}food_parcel_line_#{index}" %>">
<%= main_form.fields_for "food_parcel_lines", food_parcel_line do |line_form| %>
  <td>
    <%= line_form.hidden_field :product_id %>
    <input disabled="true" class="product_code_typeahead" name="<%= "product_code_#{index}" %>" data-provide="typeahead" id="<%= "product_code_#{index}" %>" size="20" type="text" value="<%= food_parcel_line.product.nil? ? params["product_code_#{index}"] : food_parcel_line.product.code %>"/>
  </td>
  <td><input disabled="true" class="product_name_typeahead" name="<%= "product_name_#{index}" %>" data-provide="typeahead" id="<%= "product_name_#{index}" %>" size="20" type="text" value="<%= food_parcel_line.product.nil? ? params["product_name_#{index}"] : food_parcel_line.product.name %>"/></td>
  <td><%= line_form.text_field :quantity, :size => 10 %></td>
  <% if !food_parcel_line.new_record? %>
    <td><%= link_to('Delete', [@food_parcel, food_parcel_line], :confirm => 'Are you sure?', :method => "delete", :format => "json", :remote => true, :disable_with => 'loading...', :class => "btn btn-danger row-delete") %></td>
  <% else %>
    <td><%= link_to_function "Delete", "remove_row(this)", :class => "btn btn-danger" %></td>
  <% end %>
<% end %>
</tr>
<%
end
%>
