<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
<% @occupant.errors.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <%= content_tag :div, t(name) + " " + msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>

<%= form_for [@household, @occupant], :html => { :class => 'form-horizontal' } do |f| %>

  <%= render :partial => 'common/occupant_fields', :locals => { :occupant_form => f } %>
  <div class="control-group">
    <%= f.label :relationship_to_primary, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :relationship_to_primary, OtherOccupant.RELATIONSHIP.inject({}) {|h, (k, v)| h[t(k)] = v; h}, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                household_other_occupants_path, :class => 'btn' %>
  </div>
<% end %>
