<div class="page-header">
  <h1>Inactive Households</h1>
</div>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>

<%= form_tag url_for(controller => :reporting, :action => :inactive_households), :class=>"form-horizontal" do %>

  <div class="control-group">
    <%= label_tag :to_date, t(:to_date), :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :to_date, @to_date, :class => 'text_field', 'data-behaviour' => 'datepicker' %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag nil, :class => 'btn btn-primary' %>
    <% if((defined? @table) && !@table.data.empty?) %>
      <%= button_tag 'Delete', {data: {confirm: "Are you sure?"}, name: 'delete', type: 'submit', :class => 'btn btn-danger'} %>
	  <% end %>
  </div>
<% end %>

<div class="ruport">
	<% if((defined? @table) && !@table.data.empty?) %>
		<%= @table.to_html.sub("<table>", "<table class='table'>").html_safe %>
	<% elsif(defined? @deleted)%>
		<em>Deleted <%= @deleted %> records</em>  
  <% else %>
		<em>No data to display</em>
	<% end %>
</div>
<br/>