<div class="page-header">
  <h1>Current Weight Of Stock</h1>
</div>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>


<%= form_tag(:controller => :reporting, :action => "update_weight") do %>
  <div class="control-group">
  <%= label_tag(:weight, "Total weight:") %>
    <div class="controls">
    <%= text_field_tag(:weight, @weight) %>
    </div>
  </div>
  <div class="form-actions">
  <%= submit_tag("Update") %>
  </div>
<% end %>