<div class="control-group">
  <%= address_form.label :address_line_1, :class => 'control-label' %>
  <div class="controls">
    <%= address_form.text_field :address_line_1, :class => 'text_field' %>
  </div>
  <%= address_form.label :address_line_2, :class => 'control-label' %>
  <div class="controls">
    <%= address_form.text_field :address_line_2, :class => 'text_field' %>
  </div>
  <%= address_form.label :town, :class => 'control-label' %>
  <div class="controls">
    <%= address_form.text_field :town, :class => 'text_field' %>
  </div>
  <%= address_form.label :city, :class => 'control-label' %>
  <div class="controls">
    <%= address_form.text_field :city, :class => 'text_field' %>
  </div>
  <%= address_form.label :county, :class => 'control-label' %>
  <div class="controls">
    <%= address_form.text_field :county, :class => 'text_field' %>
  </div>
  <%= address_form.label :postcode, :class => 'control-label' %>
  <div class="controls">
    <%= address_form.text_field :postcode, :class => 'text_field' %>
  </div>
</div>