
  <%= contact_information_form.label :email, :class => 'control-label' %>
  <div class="controls">
    <%= contact_information_form.text_field :email, :class => 'text_field' %>
  </div>
  <%= contact_information_form.label :telephone, :class => 'control-label' %>
  <div class="controls">
    <%= contact_information_form.text_field :telephone, :class => 'text_field' %>
  </div>
  <%= contact_information_form.label :mobile, :class => 'control-label' %>
  <div class="controls">
    <%= contact_information_form.text_field :mobile, :class => 'text_field' %>
  </div>
  <%= contact_information_form.label :facsimile, :class => 'control-label' %>
  <div class="controls">
    <%= contact_information_form.text_field :facsimile, :class => 'text_field' %>
  </div>
